nav {
    display: flex;
    gap: 16px;
    padding: 16px;
    border-bottom: 1px solid var(--border)
  }
  
  .nav-link {
    color: var(--text);
    text-decoration: none;
  }
  
  .nav-link-active {
    font-weight: 700;
  }
  